---
import CallToAction from "@components/CallToAction.astro";
import WaveIntersection from "@components/pages/root/intersection/WaveIntersection.astro";
import RootLayout from "@layouts/RootLayout.astro";
import { Image } from "astro:assets";
import ProdajaVode from "../../assets/images/prodaja-vode.jpg";
import DistribucijaVode from "../../assets/images/distribucija-vode.jpg";
import SanacijaAparata from "../../assets/images/sanacija-aparata.jpg";
import ServisAparata from "../../assets/images/servis-aparata.jpg";
import ProdajaAparata from "../../assets/images/prodaja-aparata.jpg";
import OtkupAparata from "../../assets/images/otkup-aparata.jpg";
---

<RootLayout title="Aqua Aria | Usluge">
  <div class="flex md:flex-row flex-col w-full max-w-7xl mx-auto px-4 pb-32">
    <h1 class="text-4xl mb-4 pt-4 font-display md:hidden">Naše usluge</h1>
    <div class="w-1/3 h-screen sticky top-20 bg-white py-6 hidden md:block">
      <h1 class="text-5xl mb-4 font-display">Naše usluge</h1>
      <p class="text-gray-500 text-sm my-8">
        Nudimo pouzdan servis i održavanje aparata, profesionalnu sanaciju kvarova, kao i prodaju visokokvalitetne vode. Sa dugogodišnjim iskustvom i stručnim
        timom, osiguravamo kvalitetna i dugotrajna rešenja koja zadovoljavaju najviše standarde.
      </p>
      <div id="menu" class="space-y-8">
        <div data-target="prodaja" class="active border-b pb-2 text-2xl font-semibold">Prodaja vode</div>
        <div data-target="distribucija" class="text-gray-400 border-b pb-2 text-2xl font-semibold">Distribucija vode</div>
        <div data-target="prodaja-a" class="text-gray-400 border-b pb-2 text-2xl font-semibold">Prodaja aparata</div>
        <div data-target="otkup" class="text-gray-400 border-b pb-2 text-2xl font-semibold">Otkup aparata</div>
        <div data-target="servis" class="text-gray-400 border-b pb-2 text-2xl font-semibold">Servis aparata</div>
        <div data-target="sanacija" class="text-gray-400 border-b pb-2 text-2xl font-semibold">Sanacija aparata</div>
      </div>
    </div>

    <div class="md:w-2/3 w-full overflow-y-auto md:pl-10" id="content">
      <section id="prodaja" class="md:h-screen flex flex-col gap-y-4 justify-start pt-6">
        <div class="rounded-sm w-full max-h-[400px] overflow-hidden">
          <Image src={ProdajaVode} alt={"Water balloons in front of the door"} width={1200} height={600} />
        </div>
        <h2 class="text-3xl md:text-4xl font-display font-bold flex md:items-end gap-x-2">
          <span class="text-gray-300 text-3xl md:text-5xl">01</span>Dostava vode
        </h2>
        <p class="text-gray-600">
          Naša usluga prodaje vode omogućava vam jednostavan i pouzdan način da obezbedite kvalitetnu vodu za vaš dom ili poslovni prostor. Kontaktirajte nas i
          osigurajte neprekidan izvor sveže i čiste vode.
        </p>
      </section>
      <section id="distribucija" class="md:h-screen flex flex-col gap-y-4 justify-center pt-4">
        <div class="rounded-sm w-full max-h-[400px] overflow-hidden">
          <Image src={DistribucijaVode} alt={"Water balloons"} width={1200} height={600} />
        </div>
        <h2 class="text-3xl md:text-4xl font-display font-bold flex md:items-end gap-x-2">
          <span class="text-gray-300 md:text-5xl">02</span>Distribucija vode
        </h2>
        <p class="text-gray-600">
          Naša usluga distribucije vode obezbeđuje pouzdanu i redovnu isporuku balona sa vodom direktno na vašu adresu. Fleksibilni termini dostave i brza
          isporuka omogućavaju vam jednostavno snabdevanje vodom kada vam je najpotrebnije.
        </p>
      </section>
      <section id="prodaja-a" class="md:h-screen flex flex-col justify-center pt-4 gap-y-4">
        <div class="rounded-sm relative w-full max-h-[400px] overflow-hidden">
          <Image
            src={ProdajaAparata}
            alt={"Two persons talking in front of the water dispenser"}
            class="object-bottom object-cover"
            width={1200}
            height={600}
          />
        </div>
        <h2 class="text-3xl md:text-4xl font-display font-bold flex items-end gap-x-2"><span class="text-gray-300 md:text-5xl">03</span>Prodaja aparata</h2>
        <p class="text-gray-600">
          Nudimo širok izbor aparata za vodu koji odgovaraju različitim potrebama – bilo da vam je potreban uređaj za kancelariju, ugostiteljski objekat ili vaš
          dom. Naši aparati omogućavaju jednostavno i praktično korišćenje balona sa vodom, uz opcije za hladnu i toplu vodu.
        </p>
      </section>
      <section id="otkup" class="md:h-screen flex flex-col justify-center pt-4 gap-y-4">
        <div class="rounded-sm w-full max-h-[400px] overflow-hidden">
          <Image src={OtkupAparata} alt={"Water dispenser in office environment"} width={1200} height={600} />
        </div>
        <h2 class="md:text-4xl text-3xl font-display font-bold flex items-end gap-x-2"><span class="text-gray-300 md:text-5xl">04</span>Otkup aparata</h2>
        <p class="text-gray-600">
          Ukoliko posedujete aparat za vodu koji vam više nije potreban, nudimo mogućnost otkupa po fer i konkurentnim uslovima. Bez obzira na stanje i model
          aparata, naš tim će izvršiti procenu i ponuditi vam najbolje rešenje. Kontaktirajte nas kako bismo dogovorili preuzimanje i pojednostavili proces
          prodaje vašeg aparata.
        </p>
      </section>
      <section id="servis" class="md:h-screen flex flex-col justify-center pt-4 gap-y-4">
        <div class="rounded-sm w-full max-h-[400px] overflow-hidden">
          <Image src={ServisAparata} alt={"Master repairs the water dispenser"} width={1200} height={600} />
        </div>
        <h2 class="text-3xl md:text-4xl font-display font-bold flex items-end gap-x-2"><span class="text-gray-300 md:text-5xl">05</span>Servis aparata</h2>
        <p class="text-gray-600">
          Redovno održavanje i servis aparata za vodu ključni su za njihovu dugotrajnost i ispravan rad. Naš tim pruža usluge popravke aparata, osiguravajući da
          vaša voda ostane higijenski ispravna i sveža. Bilo da je reč o zameni delova, otklanjanju kvarova ili preventivnom održavanju, stojimo vam na
          raspolaganju za brzu i pouzdanu uslugu.
        </p>
      </section>
      <section id="sanacija" class="md:h-screen flex flex-col justify-start pt-4 gap-y-4">
        <div class="rounded-sm w-full max-h-[400px] overflow-hidden">
          <Image src={SanacijaAparata} alt={"Master repairs the water dispenser"} width={1200} height={600} />
        </div>
        <h2 class="md:text-4xl text-3xl font-display font-bold flex items-end gap-x-2"><span class="text-gray-300 md:text-5xl">06</span>Sanacija aparata</h2>
        <p class="text-gray-600">
          Sanacija aparata podrazumeva detaljno čišćenje, dezinfekciju i obnovu kako bi uređaj ponovo bio potpuno funkcionalan i siguran za upotrebu. Bilo da je
          aparat bio van upotrebe duži period ili je došlo do zagađenja sistema, naš tim obavlja temeljnu sanaciju, uklanjajući nečistoće, kamenac i bakterije.
          Na taj način obezbeđujemo da vaš aparat ponovo isporučuje kvalitetnu i bezbednu vodu.
        </p>
      </section>
    </div>
  </div>
  <WaveIntersection />
  <CallToAction />
</RootLayout>

<script>
  import Lenis from "lenis";

  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section");
    const menuItems = document.querySelectorAll("#menu div");

    window.addEventListener("scroll", () => {
      let currentSection = "" as any;
      sections.forEach((section) => {
        const sectionTop = section.offsetTop - 400;
        if (window.scrollY >= sectionTop) {
          currentSection = section.getAttribute("id");
        }
      });

      menuItems.forEach((item) => {
        item.classList.remove("active");
        item.classList.add("text-gray-400");
        if (item.getAttribute("data-target") === currentSection) {
          item.classList.add("active");
          item.classList.remove("text-gray-400");
        }
      });
    });
  });

  const lenis = new Lenis();

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
